<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.center.StorageCenter.mapper.EShopProductSkuStockMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.center.StorageCenter.model.EShopProductSkuStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId" />
    <result column="stock_amount" jdbcType="INTEGER" property="stockAmount" />
    <result column="sale_amount" jdbcType="INTEGER" property="saleAmount" />
    <result column="stock_barcode" jdbcType="VARCHAR" property="stockBarcode" />
  </resultMap>

  <update id="increaseSkuStockAmount" >
    UPDATE
      e_shop_product_sku_stock
    SET
      stock_amount = (stock_amount + increaseAmount)
    WHERE
	  product_sku_id = #{skuId}
  </update>

  <update id="decreaseSkuStockAmount" >
    UPDATE
      e_shop_product_sku_stock
    SET
      stock_amount = (stock_amount - increaseAmount)
    WHERE
	  product_sku_id = #{skuId}
  </update>
</mapper>