<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.EShopProductStockMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.EShopProductStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_skuid" jdbcType="INTEGER" property="productSkuid" />
    <result column="stock_amount" jdbcType="INTEGER" property="stockAmount" />
    <result column="stock_barcode" jdbcType="INTEGER" property="stockBarcode" />
  </resultMap>
</mapper>