<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.center.MarketingCenter.mapper.EShopMarketingDetailMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.center.MarketingCenter.model.EShopMarketingDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="marketing_id" jdbcType="INTEGER" property="marketingId" />
    <result column="strategy" jdbcType="TINYINT" property="strategy" />
    <result column="parameter" jdbcType="VARCHAR" property="parameter" />
  </resultMap>
</mapper>