<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.center.AccountCenter.mapper.EShopRoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.center.AccountCenter.model.EShopRoleMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id     column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>

  <select id="selectRoleMenuByRoleId" resultMap="BaseResultMap">
    SELECT
      menu.id,
      parent_id,
      menu.title,
      icon,
      description,
      url,
      menu.create_time,
      menu.update_time,
      menu.create_by,
      menu.update_by,
      sort_order,
      menu.del_flag
    FROM
      e_shop_role_menu menu
        LEFT JOIN e_shop_role_menu_relation ralation ON menu.id = ralation.menu_id
        LEFT JOIN e_shop_role role ON ralation.role_id = role.id
    WHERE
      menu.del_flag = 0 AND role.id = #{roleId}

  </select>
</mapper>