<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.EShopPaymentMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.EShopPayment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="payment_status" jdbcType="TINYINT" property="paymentStatus" />
    <result column="user_account_id" jdbcType="INTEGER" property="userAccountId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="channel_id" jdbcType="TINYINT" property="channelId" />
  </resultMap>
</mapper>