<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.EShopProductSkuAttrMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.EShopProductSkuAttr">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="user_account_id" jdbcType="INTEGER" property="userAccountId" />
    <result column="attr_name" jdbcType="VARCHAR" property="attrName" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
  </resultMap>

  <!--<insert id="insertEShopSKUAttrAndGetID" keyProperty="id" parameterType="com.tfx0one.web.model.EShopProductSkuAttr" useGeneratedKeys="true">-->
    <!--insert into e_shop_product_sku_attr(parent_id, user_account_id, attr_name, sort_order)-->
    <!--values(#{parentId}, #{userAccountId}, #{attrName}, #{sortOrder})-->
  <!--</insert>-->
</mapper>