<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.EShopProductMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.EShopProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="price_underline" jdbcType="DECIMAL" property="priceUnderline" />
    <result column="sale_amount" jdbcType="INTEGER" property="saleAmount" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="product_catagory_id" jdbcType="INTEGER" property="productCatagoryId" />
    <result column="sort_order" jdbcType="TINYINT" property="sortOrder" />
    <result column="is_on_sale" jdbcType="TINYINT" property="isOnSale" />
    <result column="img_primary_url" jdbcType="VARCHAR" property="imgPrimaryUrl" />
    <result column="img_list_url" jdbcType="VARCHAR" property="imgListUrl" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="vendor_user_id" jdbcType="INTEGER" property="vendorUserId" />
    <result column="content_desc" jdbcType="LONGVARCHAR" property="contentDesc" />
  </resultMap>
</mapper>