<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.ToggeryGoodsKindsMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.ToggeryGoodsKinds">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kinds_id" jdbcType="INTEGER" property="kindsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>