<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfx0one.web.mapper.UserCartMapper">
  <resultMap id="BaseResultMap" type="com.tfx0one.web.model.UserCart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_sku_id" jdbcType="INTEGER" property="productSkuId" />
    <result column="user_account" jdbcType="INTEGER" property="userAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
</mapper>